.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlinks {
  display: flex;
  gap: 15px;
  margin: 15px auto;
}

.nav-item{
  text-decoration: none;
  font-size: 22px;
}

.add-new-habit{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin: 5px 50px 25px 50px;
}

.habits-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.habit{
  background-color: #f4f7f7;
  padding: 15px 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.habit p{
  margin: 0;
  font-size: 18px;
  letter-spacing: .5px;
}

.habit p span{
  font-weight: 600;
}

.habit-name{
  font-size: 16px;
  font-weight: 600;
}

.call-to-action-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
  margin: 10px 0px;
}

.call-to-action-button div{
  width: 100%;
}

.default-button{
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  background-color: rgb(49, 49, 49);
  color: #fff;
}

.default-button:hover{
  color: #fff;
  background-color: rgb(49, 49, 49);
}